<h1 id="tableLabel">Contacts list</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!contacts"><em>Loading... if the contacts list doesn't load, please try refreshing the page.</em></p>

<table *ngIf="contacts">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts">
            <td>{{ contact.id }}</td>
            <td>{{ contact.firstName }}</td>
            <td>{{ contact.lastName }}</td>
        </tr>
    </tbody>
</table>
